.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

 
.wrapper button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(75, 56, 7);
    color: white;
    background-color: rgb(75, 56, 7);
    cursor: pointer;
    font-size: 20px;
}

.accordion{
    width: 500px;
}

.item{
    background-color: rgb(75, 56, 7);
    padding: 10px 30px;
    margin-bottom: 10px;
}

.title{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.content{
    color: wheat;
    cursor: pointer;

}